@model IEnumerable<Product>
@{
    ViewBag.Title = "Menu Items";
}
<h1 class="mb-4">Menu Items</h1>
<a asp-controller="Product" asp-action="AddEdit">Create New Item</a>

<div class="container">
    <div class="row justify-content-between align-items-center g-3">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12">
                <partial name="_ProductCardPV" model="product" />
            </div>
        }       
    </div>
</div>