@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav pt-2">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @{
            int cartCount = 0;
            if(Context.Session.Get("OrderViewModel") != null)
            {
                var model = Context.Session.Get<OrderVM>("OrderViewModel");
                cartCount = model?.OrderItems.Count() ?? 0;
            }

            <a class="nav-link position-relative" asp-controller="Order" asp-action="Cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
                        @cartCount
                        <span class="visually-hidden">Cart Quantity</span>
                    </span>
            </a>
        }
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
