@model IEnumerable<Ingredient>
@{
    ViewBag.Title = "Ingrediants";
}
<h1>Ingrediants</h1>
<a asp-action="Create">Create New Ingrediant</a>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ingrediant in Model)
        {
            <tr>
                <td>@ingrediant.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@ingrediant.IngredientId">Details</a>
                    <a asp-action="Edit" asp-route-id="@ingrediant.IngredientId">Edit</a>
                    <partial name="_DeleteModalPV" model="ingrediant"></partial>
                </td>            
            </tr>
        }
    </tbody>
</table>
